@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$accent-color: #3689fc;
$sidebar-color: #c3d4e4;

:root {
  --accent: #{$accent-color};
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #e6edf4;
  display: grid;
  font-family: 'Lato', sans-serif;
  grid-template:
    'buttons quests'
    'buttons footer' / max-content 1fr;
  margin: 0;
  min-height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 1.17em;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.button-container {
  background-color: $sidebar-color;
  display: flex;
  flex-direction: column;
  grid-area: buttons;
}

.button {
  background-color: inherit;
  border: none;
  padding: 24px 48px;

  &.active {
    background-color: darken($sidebar-color, 10%);
    font-weight: bold;
  }

  &:hover {
    background-color: darken($sidebar-color, 10%);
    cursor: pointer;
  }

  &:active {
    background-color: darken($sidebar-color, 15%);
  }
}

.sublocation-container {
  align-content: start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1110px;
  gap: 32px;
  grid-area: quests;
  padding: 16px;

  &--act2 {
    height: 1090px;
  }

  &--act3 {
    height: 510px;
  }
}

.area-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.subquest {
  margin-left: 24px;

  a,
  span {
    font-size: 0.9rem;
    font-style: italic;
  }
}

.label {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1em auto;
  justify-content: start;
  margin-bottom: 8px;

  > .checkbox:checked + a,
  > .checkbox:checked + span {
    color: #b2b2b2;
    text-decoration: line-through;
  }
}

li:last-child > .label {
  margin-bottom: 0;
}

.checkbox {
  -webkit-appearance: none;
  appearance: none; /* remove default styling */
  border: 0.1em solid #000;
  border-radius: 0;
  background-color: #fff; /* for iOS < 15 to remove gradient background */
  display: grid;
  height: 1.15em;
  margin: 0; /* not removed via appearance */
  place-content: center;
  width: 1.15em;

  &::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--accent);
  }

  &:checked {
    &::before {
      transform: scale(1);
    }
  }
}

.footer {
  grid-area: footer;
  margin-top: auto;
  padding: 16px;
  text-align: right;

  .fa-sr-only {
    font-size: 1px;
  }

  &__icons-container {
    display: flex;
    gap: 8px;
    justify-content: end;
  }

  &__icon-link {
    font-size: 2rem;
    user-select: none;

    &:hover {
      color: var(--accent);
      cursor: pointer;
    }
  }

  &__copyright {
    margin-top: 8px;
  }
}

@media (max-width: 1435px) {
  .sublocation-container {
    &--act1 {
      height: 2070px;
    }

    &--act2 {
      height: 1700px;
    }

    &--act3 {
      height: 1060px;
    }
  }

  .footer {
    margin-top: 32px;
  }
}

@media (max-width: 880px) {
  body {
    grid-template:
      'buttons'
      'quests'
      'footer' / 1fr;
  }

  .button-container {
    flex-direction: row;
  }

  .button {
    flex: 1;
    padding: 24px 0;
  }

  .sublocation-container {
    align-content: stretch;
    gap: 16px;
    height: 100%;
  }

  .footer {
    margin-top: 0;
    text-align: center;

    &__icons-container {
      justify-content: center;
    }
  }
}
